<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <header th:replace="header.html"></header>
</head>

<script id="TPL" type="text/html">
    {{# layui.each(d, function(index, item){ }}
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">结点：<span>{{-item.id}}</span></div>
            <div class="layui-card-body">
                ip：<span id="ip{{-item.id}}">{{-item.name}}</span></br>
                health：<span id="health">{{-item.health}}</span></br>
                state：<span id="state">{{-item.state}}</span></br>
                stateStr：<span id="stateStr">{{-item.stateStr}}</span></br>
            </div>
            <button id="selectBtn{{-item.id}}" type="button" class="layui-btn layui-btn-radius">查询</button>
        </div>
    </div>
    {{# }); }}
    <p>{{# if(d.length === 0){ }}
        无数据
        {{# } }}</p>
</script>

<body>
<div class="layui-bg-gray" style="padding: 16px;">
    <div id="view" class="layui-row layui-col-space15">
    </div>
</div>
</body>


<script type="text/javascript">
    layui.use(function () {
        var laytpl = layui.laytpl;
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        var data;
        // 渲染
        $(function () {
            $.ajax({
                type: "get",
                url: "/api/node/getReplicaSetInfo",
                // async: false,
                success: function (res) {
                    console.log(res);
                    if (res.code === 0) {
                        data = res.data
                        var getTpl = document.getElementById('TPL').innerHTML; // 获取模板字符
                        var elemView = document.getElementById('view'); // 视图对象
                        // 渲染并输出结果
                        laytpl(getTpl).render(data, function (str) {
                            elemView.innerHTML = str;
                        });
                    }
                }
            })
        })

        $(document).on('click', "#selectBtn0", function () {
            var ip = document.getElementById('ip0').innerText;
            layer.msg("当前结点ip：" + ip);
        });
        $(document).on('click', "#selectBtn1", function () {
            var ip = document.getElementById('ip1').innerText;
            layer.msg("当前结点ip：" + ip);
        });
        $(document).on('click', "#selectBtn2", function () {
            var ip = document.getElementById('ip2').innerText;
            layer.msg("当前结点ip：" + ip);
        });
        $(document).on('click', "#selectBtn3", function () {
            var ip = document.getElementById('ip3').innerText;
            layer.msg("当前结点ip：" + ip);
        });
    });
</script>

</html>