<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <header th:replace="header.html"></header>

</head>

<body class="layui-layout-body">

    <div class="layui-body" style="margin:60px 0 0 10px ">

        <div class="layui-row" style="margin:30px 0 0 10px ">
            <div class="layui-col-xs4">

                <h2>随机插入数据</h2>
                <div class="div_2">
                    <form class="layui-form " style="margin:40px 0px 0px 20px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">集合名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="number" id="number"  placeholder="请输入插入数量" autocomplete="off" class="layui-input">
                            </div>

                            <button class="layui-btn" id="addbtn" lay-submit lay-filter="addbtn">添加数据</button>
                            <button type="reset" class="layui-btn layui-btn-primary" >重置</button>


                        </div>

                        <div class="layui-form-item">
                            <table class="layui-hide" id="test" lay-filter='test'></table>
                            <div class="layui-input-block">

                            </div>
                        </div>



                    </form>
                </div>



            </div>

        </div>

    </div>

</body>

<style>

    .div_2{
        border: 2px solid #F0F0F0; /* 边框：2像素宽，实线，颜色为深灰色 */
        background-color: #F8F8F8; /* 背景色为淡灰色 */
        padding: 20px; /* 内边距为20像素，使内容远离边框 */
        width: 90%;
    }

</style>

<script type="text/javascript">
    layui.use(function () {
        var laytpl = layui.laytpl;
        var $ = layui.$;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;


        form.on('submit(formDel)', function(data){

            var collectionName = $.trim($("#collectionName1").val())
            $.ajax({
                url: '/api/node/deleteCollection',
                type: 'POST',
                data:{
                    "collectionName": collectionName,
                },
                success:function(data){
                    if(data.data == true){
                        layer.msg("创建成功",function() {time:20000})
                        window.parent.frames.location.href="/index"
                    }
                }
            })
            return false;
        });


        // 随机插入指定数量数据
        form.on('submit(addbtn)', function(data){

            var number = $.trim($("#number").val())
            $.ajax({
                url: '/api/student/batchSave/' +number,
                type: 'GET',
                success:function(data){
                    if(data.data > 0){
                        layer.msg("插入成功",function() {time:20000})

                        location.reload(); // 刷新页面
                    }
                }
            })
            return false;
        });



        table.render({
            elem: '#test',
            id: 'tableId',
            url: '/api/student/getCount',
            method:'get',
            title: '用户信息表',
            totalRow: true,
            height: 520,
            width:550,
            cols: [
                [
                    {type: "numbers", fixed: 'aa'}
                    , {field: 'name', title: '节点', width: 300 }
                    , {field: 'count', title: '文档数量', width: 100}

                ]
            ],
            page: true , // 分页
            elem: '#test',
            limit:10,
            parseData: function (res) {  // 分页效果必须要加这个函数只加 page:true 不起作用。
                var result;
                console.log(this);
                console.log(JSON.stringify(res));
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                } else {
                    result = res.data.slice(0, this.limit);
                }
                return {"code": res.code, "msg": res.msg, "count": res.data.length, "data": result};
            }

        });



    });

</script>

</html>